
/* Variables definitions
   ========================================================================== */

   $black: #000000;
   $white: #FFFFFF;
   $Grey: #707070;
   $OffBlack: #2E2E38;
   $MidnightBlack:#1a1a24;
   $Black: #333333;
   $GrayDark: #404040;
   $GrayLight: #e0e0e1;
   $Yellow: #FFE600;
   $OffYellow: #ddc805;
   $GrayPale: #DBDBE0;
   $PaleGrey: #E0E0E5;
   
   $PrimaryBlue: #71c6d0;
   $PrimaryGreen: #67be9c;
   $PrimaryPurple: #a182ba;

   $PrimaryPurple:#750E5C;
   $PrimaryOrange:#FF6D00;
   $PrimaryGreen: #2DB757;
   $PrimaryCyan:#27ACAA;
   $PrimaryBlue:#188CE5;
   $PrimaryPurpleDark:#3D108A;
   $PrimaryGray:#C4C4CD;
   $YellowPale:#E6D80E;
   $OffWhite:#F5F5FA;
   $SharkGrey:#747480;
   
   $HoverYellow: rgba(255, 230, 0, .9);
   $HoverBlue: rgba(24, 140, 229, .9);
   $HoverOrange: rgba(255, 152, 49, .9);
   $HoverGreen: rgba(45, 183, 87, .9);
   $HoverPink: rgba(218, 133, 171, .9);
   $HoverGrey: rgba(245, 245, 250, .9); 

   $OffBlackOpac: rgba(46, 46, 56, 0.8);
   $SharkGreyOpac: rgba(116, 116, 128, .3);

   $OrangeOpac6: rgba(255, 152, 49, .6);
   $OrangeOpac3: rgba(255, 152, 49, .3);
   $OrangePale: rgba(255, 152, 49, .15);
   $PaleGreyOpac: rgba(246,246,250,0.85);
    
   $repositioning: #D06A61;
   $transformation: #9AB0C7;
   $enterprise: #CAAC84;

   $Red: #ED1C24;
   $Amber: #FFAF46;
   $Green: #269556;


   
